h1, h2, h3, h4, h5 {
    line-height: 1.2;
    letter-spacing: -2px;
    font-family: 'poppins', sans-serif;
    color: #212529;
}


h1 {
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    font-size: 62px;
}


h2 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 48px;

}

h3 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p, a, .small-text {
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 20px;
    color: #343a40;
}

a {
    text-decoration: none;
    font-size: 16px;
}

.small {
    font-size: 12px;
    font-family: 'poppins', sans-serif;
    color: #343a40;
}

ul {
    list-style: none;
    font-family: 'poppins', sans-serif;
}

.mindful {
    background-color: #3b5bdb;
    color: #ffffff;
}

.simple {
    background-color: #f59f00;
    color: #ffffff;
}

.get {
    background-color: #fd7e14;
    border: 2px solid #495057;
    padding: 5px 15px 5px 15px;
    justify-items: center;
}

.small-text {
    font-size: 12px;
}

.btn {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    color: #339af0;
}

.btn-secndary {
    color: #9775fa;
}