h1 {
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 62px;
    font-family: 'poppins', sans-serif;
}


h2 {
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 48px;
    font-family: 'poppins', sans-serif;
}

h3 {
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 40px;
    font-family: 'poppins', sans-serif;
}

h4 {
    font-size: 32px;
    font-family: 'poppins', sans-serif;
}

h5 {
    font-size: 24px;
    font-family: 'poppins', sans-serif;
}

p {
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
}

a {
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}

.small {
    font-size: 12px;
    font-family: 'poppins', sans-serif;
}

ul {
    list-style: none;
    font-family: 'poppins', sans-serif;
}

.mindful {
    background-color: #3b5bdb;
    color: #ffffff;
}

.simple {
    background-color: #6741d9;
    color: #ffffff;
}

.login {
    background-color: #228be6;
    color: #ffffff;
    border: 2px solid #495057;
    padding: 5px 15px 5px 15px;
    margin-bottom: 15px;

}

.register {
    background-color: #fd7e14;
    color: #ffffff;
    border: 2px solid #495057;
    padding: 5px 15px 5px 15px;
    margin-top: 15px;

}
